.main__banner {
    position: relative;
}
.main_banner-image {
    height: 300px;
    width: 100%;
}
.main__banner-headline {
    color: white;
    font-size: 30px;
}
.main__banner-text {
    color: white;
}
.main__banner-text-container {
    position: absolute;
    top: 30%;
}
.main__banner-reg {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background: cornflowerblue;
    border-radius: 50px;
    padding: 10px 20px
}
.main__slider {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main__slider-item {
    width: 20%;
    border-radius: 20px;
    overflow: hidden;
}
.main__slider-link {
    text-decoration: none;
    position: relative;
    display: block;
    height: 400px;
}
.main__slider-text {
    position: absolute;
    top: 80%;
}
.main__slider-date {
    position: absolute;
    top: 10%;
}
.main__slider-img {
    width: 100%;
    height: 100%
}
.main__news-headline {
 margin: 0 20px;
    text-decoration: none;
}
.main__news-headline h2 {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.main__desc-item {
    display: flex;

}
.main__desc {
    margin-top: 20px;
    background: linear-gradient(to bottom right,#080a1e, #0c102a);
}
.main__desc-headline {
    color: white;
    font-size: 26px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.main__desc-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.main__desc-text {
    color: white;
    font-family: "Open Sans", sans-serif;
}
.main__desc-img {
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    height: 200px;
}
.main__desc-img img{
    width: 300px;
    height: 200px;
}
