@import "../../variables";

.info-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__text {
    font-size: $fz;
    font-family: $ff;
    color: #fff;
    margin-bottom: 25px;
    width: 90%;
    text-align: left;
    line-height: 1.2em;
    letter-spacing: 0.05em;

    &.right {
      text-align: right;
    }

    span {
      color: #96c;
    }
  }

  &__images {
    display: flex;
    gap: 10px;
  }

  &__img {
    width: calc(100% / 3 - 20px);
    max-height: 250px;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 1100px) {
    &__text {
      width: 100%;
    }
    &__images {
      overflow-x: scroll;
      padding-bottom: 10px;
    &::-webkit-scrollbar {
      height: 10px;
      margin-top: 30px
    }

    &::-webkit-scrollbar-thumb {
      background: #e6ccff;
      border-radius: 15px
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &__img {
    min-width: 100%;
    width: 100%;
    height: auto;
    max-height: 500px;
  }
}

}


.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    max-width: 70%;
    max-height: 70%;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
  }

  &.is-visible &__content {
    transform: scale(1);
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;

    &:hover, &:focus {
      color: #999;
      text-decoration: none;
    }
  }
}