//-
    ЭТОТ ФАЙЛ КОМПИЛИРУЕТСЯ АВТОМАТИЧЕСКИ
<% _.forEach( icons, function( icon ){ %>
mixin <%= icon.id %>(className)
    svg(class= className)<%= icon.class %> <use xlink:href="#<%= icon.id %>">
<% }); %>
mixin sprite-examples
<% _.forEach( icons, function( icon ){ %>
    +<%= icon.id %>
<% }); %>